general:
	makeblastdb-bin: /usr/bin/makeblastdb # Leave blank if makeblastdb is on the PATH
	default-destination: # Location to write database to.  Leave blank if setting custom destination for each database.
databases:
	ITS: # Database key must be unique
		search-criteria:	# Criteria to search BOLD.  Leave fields blank or delete them 
			taxon: # 
			ids: # Array of IDs 
			bin: # Array of bins
			container: # Array of containers 
			institutions: # Array of institutions
			researchers: # Array of researchers
			geo: # Array of geography
			markers: ITS #Array of markers 
		base-name: # Name of blast database 
		destination: # Location to write blast database to.  Leave blank if default-destination is set unless you want to modify the destination.
